<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:report_menu?after=report_ext">
         <command
               commandId="fi.espoo.archimatetool.reports.command.HTML"
               id="fi.espoo.archimatetool.reports.menuItem.HTML"
               label="%action.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:tools">
         <separator
               name="fi.espoo.archimatetool.reports.separator1"
               visible="true">
         </separator>
         <command
               commandId="fi.espoo.archimatetool.reports.command.PreviewHTML"
               id="fi.espoo.archimatetool.reports.menuItem.PreviewHTML"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=com.archimatetool.hammer.popup.separator">
         <command
               commandId="fi.espoo.archimatetool.reports.command.PreviewHTML"
               id="fi.espoo.archimatetool.reports.popupmenu.PreviewHTML"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
      		categoryId="com.archimatetool.editor.category"
      		description="%command.label"
            id="fi.espoo.archimatetool.reports.command.HTML"
            name="%command.label">
      </command>
      <command
      		categoryId="com.archimatetool.editor.category"
      		description="%command.label.0"
            id="fi.espoo.archimatetool.reports.command.PreviewHTML"
            name="%command.label.0">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fi.espoo.archimatetool.reports.html.HTMLReportHandler"
            commandId="fi.espoo.archimatetool.reports.command.HTML">
         <enabledWhen>
            <reference
                  definitionId="com.archimatetool.modelEnabled">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="fi.espoo.archimatetool.reports.html.PreviewHTMLReportHandler"
            commandId="fi.espoo.archimatetool.reports.command.PreviewHTML">
         <enabledWhen>
            <reference
                  definitionId="com.archimatetool.modelEnabled">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fi.espoo.archimatetool.reports.preferences.EspooReportsPreferencesPage"
            id="fi.espoo.archimatetool.reports.preferences.EspooReportsPreferencePage"
            name="%prefsEspoo">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fi.espoo.archimatetool.reports.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
